

<div class="list-group">
	<a href= "/devices/", class="list-group-item">Variance Detection Rules</a>
	<a href= "/lots/", class="list-group-item">Lots Paramaters</a>
	<a href= "/data/index", class="list-group-item">Current Testing Information</a>
	<a href= "/alerts", class="list-group-item">Alerts</a>
</div>
